<div>
  <label class="label">樹形図</label>
    <p class="control is-center">
      <textarea id="raw-tree" class="textarea"></textarea>
    </p>
  </label>
  <p class="control">
    <button class="button is-primary">生成</button>
  </p>
</div>
